<!DOCTYPE html>
<html>

<head>
	<title>Crop Recommender </title>
	<meta charset="utf-8">


	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href=" 	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- style css -->
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
	<style>
		h1 {
			color: mediumseagreen;
			text-align: left;
		}

		.warning {
			color: red;
			font-weight: bold;
			text-align: center;
		}

		.card {
			margin-left: 410px;
			margin-top: 20px;
			color: white;
		}

		.container {
			font-weight: bold;
			padding-bottom: 100px;
			border-radius: 15px;
		}
	</style>
</head>

<body style="background:#BCBBB8">


	<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
		<div class="container-fluid">
			<a class="navbar-brand fw-bold" href="#">Crop Recommendation</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
					<li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                    </li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{url_for('predictcrop')}}">crop recommendation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{url_for('predict')}}">Fertilizer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">disease</a>
					</li>
				</ul>
				<span class=" navbar-text fw-bold text-light">
					Crop recommendation system
				</span>
			</div>
		</div>
	</nav> -->
	<header class="header-area">
		<div class="container-fluid">
			<div class="row d_flex">
				<div class=" col-md-2 col-sm-3">
					<div class="logo">
						<a href="{{url_for('home')}}">BEER<span>KAABE</span></a>
					</div>
				</div>
				<div class="col-md-8 col-sm-9">
					<div class="navbar-area">
						<nav class="site-navbar">
							<ul>
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" aria-current="page"
										href="{{url_for('predictcrop')}}">crop recommendation</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" aria-current="page"
										href="{{url_for('predict')}}">Fertilizer</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="#">disease</a>
								</li>
								<!-- <li><a href="Javascript:void(0)">Projects</a></li>
                            <li><a href="testimonail.html">Testimonail</a></li>
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="contact.html">Contact</a></li>-->
							</ul>
							<button class="nav-toggler">
								<span></span>
							</button>
						</nav>
					</div>
				</div>

			</div>
		</div>
	</header>
	<br><br><br>



	<!--===============================================================================-->
	<!-- <div class="container my-5 mt-3 bg-light">
		<h1>Crop Recommendation <span class="text-success">🌱</span></h1> -->
	<div class="container my-5 mt-3 bg-light rounded py-1 px-5 ">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<div class=" bg-light fw-bold fs-4 mt-4 py-3   ">
					<h1>{{x}}</h1>
				</div>
			</div>
			<div class="col-2"></div>
		</div>
		<form method="POST" action="{{ url_for('predictcrop') }}" class="mt-5">
			<div class="row mt-4">


				<div class="col-md-4">
					<label for="Nitrogen">Nitrogen</label>
					<input type="number" id="Nitrogen" name="Nitrogen" placeholder="Enter Nitrogen" class="form-control"
						required>
					{% if nitrogen_error %}
					<div class="alert alert-danger">{{ nitrogen_error }}</div>
					{% endif %}
				</div>
				<div class="col-md-4">
					<label for="Phosphorus">Phosphorus</label>
					<input type="number" id="Phosphorus" name="Phosphorus" placeholder="Enter Phosphorus"
						class="form-control" required>
					{% if phosphorus_error %}
					<div class="text-danger">{{ phosphorus_error }}</div>
					{% endif %}
				</div>
				<div class="col-md-4">
					<label for="Potassium">Potassium</label>
					<input type="number" id="Potassium" name="Potassium" placeholder="Enter Potassium"
						class="form-control" required>
					{% if potassium_error %}
					<div class="text-danger">{{ potassium_error }}</div>
					{% endif %}
				</div>
				<div class="col-md-4">
					<label for="Temperature">Temperature</label>
					<input type="number" step="0.01" id="Temperature" name="Temperature"
						placeholder="Enter Temperature in °C" class="form-control" required>
					{% if temperature_error %}
					<div class="text-danger">{{ temperature_error }}</div>
					{% endif %}
				</div>
				<div class="col-md-4">
					<label for="Humidity">Humidity</label>
					<input type="number" step="0.01" id="Humidity" name="Humidity" placeholder="Enter Humidity in %"
						class="form-control" required>
					{% if humidity_error %}
					<div class="text-danger">{{ humidity_error }}</div>
					{% endif %}
				</div>
				<div class="col-md-4">
					<label for="pH">pH</label>
					<input type="number" step="0.01" id="pH" name="pH" placeholder="Enter pH value" class="form-control"
						required>
					{% if ph_error %}
					<div class="text-danger">{{ ph_error }}</div>
					{% endif %}
				</div>
				<div class="col-md-4">
					<label for="Rainfall">Rainfall</label>
					<input type="number" step="0.01" id="Rainfall" name="Rainfall" placeholder="Enter Rainfall in mm"
						class="form-control" required>
					{% if rainfall_error %}
					<div class="text-danger">{{ rainfall_error }}</div>
					{% endif %}
				</div>

				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary btn-lg">Get Recommendation</button>
					<!-- <button type="submit" onclick="window.location.href='resultpred.html'">Search</button> -->
					<!-- <a href="resultpred.html"><button>Go to Example Website</button></a> -->
				</div>

			</div>




		</form>

	</div>

	{% if prediction %}
	<div class="card bg-dark rounded" style="width: 18rem;">

		<div class="card-body">
			<h5 class="card-title">Recommend Crop IS 🌱</h5>
			<p class="card-text text-light">{{prediction }}</p>
		</div>
	</div>
	{% endif %}

	</div>

	<script src=" 	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>




</body>

</html>